body {
    background-color: var(--primary-color);
    color: var(--primary-text-color);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

/* сброс стилей ссылок */
.link {
    color: var(--primary-text-color);
    text-decoration: none;
}

/* сброс стилей списков */
.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.section {
    padding: 94px 0;
}

/* общие стили заголовков */
.title {
    color: var(--title-text-color);
    margin: 0;
}

img {
    display: block;
}

/* скрытие заголовков */

/* общие стили заголовков */
.section-title {
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 50px;
}

.section-list {
    display: flex;
}